@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-MyYkcGk1vSpv_font-family: "Inter", sans-serif;
  --mixin-MyYkcGk1vSpv_font-size: 16px;
  --mixin-MyYkcGk1vSpv_font-weight: 400;
  --mixin-MyYkcGk1vSpv_font-style: normal;
  --mixin-MyYkcGk1vSpv_color: #535353;
  --mixin-MyYkcGk1vSpv_text-align: left;
  --mixin-MyYkcGk1vSpv_text-transform: none;
  --mixin-MyYkcGk1vSpv_line-height: 1.5;
  --mixin-MyYkcGk1vSpv_letter-spacing: normal;
  --mixin-MyYkcGk1vSpv_white-space: pre-wrap;
  --mixin-MyYkcGk1vSpv_user-select: text;
  --mixin-MyYkcGk1vSpv_text-decoration-line: none;
  --mixin-MyYkcGk1vSpv_text-overflow: clip;
  --mixin-ltg5dzCnZvE6_color: #000000;
  --mixin-ltg5dzCnZvE6_font-weight: 900;
  --mixin-ltg5dzCnZvE6_font-size: 72px;
  --mixin-ltg5dzCnZvE6_line-height: 1;
  --mixin-ltg5dzCnZvE6_letter-spacing: -4px;
  --mixin-ltg5dzCnZvE6_white-space: pre-wrap;
  --mixin-Qur3xM-oZtlZ_color: #000000;
  --mixin-Qur3xM-oZtlZ_font-size: 48px;
  --mixin-Qur3xM-oZtlZ_font-weight: 700;
  --mixin-Qur3xM-oZtlZ_letter-spacing: -1px;
  --mixin-Qur3xM-oZtlZ_line-height: 1.1;
  --mixin-Qur3xM-oZtlZ_white-space: pre-wrap;
  --mixin-eI6QS2xfL22l_color: #0070f3;
  --mixin-eI6QS2xfL22l_white-space: pre-wrap;
  --mixin-OQUpEHF-rb4-_color: #000000;
  --mixin-OQUpEHF-rb4-_font-size: 32px;
  --mixin-OQUpEHF-rb4-_font-weight: 600;
  --mixin-OQUpEHF-rb4-_letter-spacing: -0.8px;
  --mixin-OQUpEHF-rb4-_line-height: 1.2;
  --mixin-OQUpEHF-rb4-_white-space: pre-wrap;
  --mixin-zyPHJPZk3Ceg_color: #000000;
  --mixin-zyPHJPZk3Ceg_font-size: 24px;
  --mixin-zyPHJPZk3Ceg_font-weight: 600;
  --mixin-zyPHJPZk3Ceg_letter-spacing: -0.5px;
  --mixin-zyPHJPZk3Ceg_line-height: 1.3;
  --mixin-zyPHJPZk3Ceg_white-space: pre-wrap;
  --mixin-O9cAbOj2OE9r_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-O9cAbOj2OE9r_border-bottom-color: #dddddd;
  --mixin-O9cAbOj2OE9r_border-bottom-style: solid;
  --mixin-O9cAbOj2OE9r_border-bottom-width: 1px;
  --mixin-O9cAbOj2OE9r_border-left-color: #dddddd;
  --mixin-O9cAbOj2OE9r_border-left-style: solid;
  --mixin-O9cAbOj2OE9r_border-left-width: 1px;
  --mixin-O9cAbOj2OE9r_border-right-color: #dddddd;
  --mixin-O9cAbOj2OE9r_border-right-style: solid;
  --mixin-O9cAbOj2OE9r_border-right-width: 1px;
  --mixin-O9cAbOj2OE9r_border-top-color: #dddddd;
  --mixin-O9cAbOj2OE9r_border-top-style: solid;
  --mixin-O9cAbOj2OE9r_border-top-width: 1px;
  --mixin-O9cAbOj2OE9r_border-bottom-left-radius: 3px;
  --mixin-O9cAbOj2OE9r_border-bottom-right-radius: 3px;
  --mixin-O9cAbOj2OE9r_border-top-left-radius: 3px;
  --mixin-O9cAbOj2OE9r_border-top-right-radius: 3px;
  --mixin-O9cAbOj2OE9r_font-family: "Inconsolata";
  --mixin-O9cAbOj2OE9r_padding-bottom: 1px;
  --mixin-O9cAbOj2OE9r_padding-left: 4px;
  --mixin-O9cAbOj2OE9r_padding-right: 4px;
  --mixin-O9cAbOj2OE9r_padding-top: 1px;
  --mixin-O9cAbOj2OE9r_white-space: pre-wrap;
  --mixin-MUa_IoBSg3vUh_border-left-color: #dddddd;
  --mixin-MUa_IoBSg3vUh_border-left-style: solid;
  --mixin-MUa_IoBSg3vUh_border-left-width: 3px;
  --mixin-MUa_IoBSg3vUh_color: #888888;
  --mixin-MUa_IoBSg3vUh_padding-left: 10px;
  --mixin-MUa_IoBSg3vUh_white-space: pre-wrap;
  --mixin-nVOaZNvON8VzT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-nVOaZNvON8VzT_border-bottom-color: #dddddd;
  --mixin-nVOaZNvON8VzT_border-bottom-style: solid;
  --mixin-nVOaZNvON8VzT_border-bottom-width: 1px;
  --mixin-nVOaZNvON8VzT_border-left-color: #dddddd;
  --mixin-nVOaZNvON8VzT_border-left-style: solid;
  --mixin-nVOaZNvON8VzT_border-left-width: 1px;
  --mixin-nVOaZNvON8VzT_border-right-color: #dddddd;
  --mixin-nVOaZNvON8VzT_border-right-style: solid;
  --mixin-nVOaZNvON8VzT_border-right-width: 1px;
  --mixin-nVOaZNvON8VzT_border-top-color: #dddddd;
  --mixin-nVOaZNvON8VzT_border-top-style: solid;
  --mixin-nVOaZNvON8VzT_border-top-width: 1px;
  --mixin-nVOaZNvON8VzT_border-bottom-left-radius: 3px;
  --mixin-nVOaZNvON8VzT_border-bottom-right-radius: 3px;
  --mixin-nVOaZNvON8VzT_border-top-left-radius: 3px;
  --mixin-nVOaZNvON8VzT_border-top-right-radius: 3px;
  --mixin-nVOaZNvON8VzT_font-family: "Inconsolata";
  --mixin-nVOaZNvON8VzT_padding-bottom: 3px;
  --mixin-nVOaZNvON8VzT_padding-left: 6px;
  --mixin-nVOaZNvON8VzT_padding-right: 6px;
  --mixin-nVOaZNvON8VzT_padding-top: 3px;
  --mixin-nVOaZNvON8VzT_white-space: pre-wrap;
  --mixin-snZqew6XCTxYR_display: flex;
  --mixin-snZqew6XCTxYR_flex-direction: column;
  --mixin-snZqew6XCTxYR_align-items: stretch;
  --mixin-snZqew6XCTxYR_justify-content: flex-start;
  --mixin-snZqew6XCTxYR_list-style-position: outside;
  --mixin-snZqew6XCTxYR_padding-left: 40px;
  --mixin-snZqew6XCTxYR_position: relative;
  --mixin-snZqew6XCTxYR_list-style-type: disc;
  --mixin-snZqew6XCTxYR_white-space: pre-wrap;
  --mixin-4xn9eiGLMILwK_display: flex;
  --mixin-4xn9eiGLMILwK_flex-direction: column;
  --mixin-4xn9eiGLMILwK_align-items: stretch;
  --mixin-4xn9eiGLMILwK_justify-content: flex-start;
  --mixin-4xn9eiGLMILwK_list-style-position: outside;
  --mixin-4xn9eiGLMILwK_padding-left: 40px;
  --mixin-4xn9eiGLMILwK_position: relative;
  --mixin-4xn9eiGLMILwK_list-style-type: decimal;
  --mixin-4xn9eiGLMILwK_white-space: pre-wrap;
  --mixin-bI1BQyQa6IHsA_color: #000000;
  --mixin-bI1BQyQa6IHsA_font-size: 20px;
  --mixin-bI1BQyQa6IHsA_font-weight: 600;
  --mixin-bI1BQyQa6IHsA_letter-spacing: -0.3px;
  --mixin-bI1BQyQa6IHsA_line-height: 1.5;
  --mixin-bI1BQyQa6IHsA_white-space: pre-wrap;
  --mixin-qjK7q2NZGxi3E_color: #000000;
  --mixin-qjK7q2NZGxi3E_font-size: 16px;
  --mixin-qjK7q2NZGxi3E_font-weight: 600;
  --mixin-qjK7q2NZGxi3E_line-height: 1.5;
  --mixin-qjK7q2NZGxi3E_white-space: pre-wrap;
  --mixin-Dd6Rco8I7b13A_color: #3291ff;
  --mixin-Dd6Rco8I7b13A_white-space: pre-wrap;
  --mixin-LWDG_h4vRJ5af_white-space: pre-wrap;
  --mixin-IkqMCTMYF0vRx_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-MyYkcGk1vSpv_font-family);
  font-size: var(--mixin-MyYkcGk1vSpv_font-size);
  font-weight: var(--mixin-MyYkcGk1vSpv_font-weight);
  font-style: var(--mixin-MyYkcGk1vSpv_font-style);
  color: var(--mixin-MyYkcGk1vSpv_color);
  text-align: var(--mixin-MyYkcGk1vSpv_text-align);
  text-transform: var(--mixin-MyYkcGk1vSpv_text-transform);
  line-height: var(--mixin-MyYkcGk1vSpv_line-height);
  letter-spacing: var(--mixin-MyYkcGk1vSpv_letter-spacing);
  white-space: var(--mixin-MyYkcGk1vSpv_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-ltg5dzCnZvE6_color);
  font-weight: var(--mixin-ltg5dzCnZvE6_font-weight);
  font-size: var(--mixin-ltg5dzCnZvE6_font-size);
  line-height: var(--mixin-ltg5dzCnZvE6_line-height);
  letter-spacing: var(--mixin-ltg5dzCnZvE6_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-Qur3xM-oZtlZ_color);
  font-size: var(--mixin-Qur3xM-oZtlZ_font-size);
  font-weight: var(--mixin-Qur3xM-oZtlZ_font-weight);
  letter-spacing: var(--mixin-Qur3xM-oZtlZ_letter-spacing);
  line-height: var(--mixin-Qur3xM-oZtlZ_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-eI6QS2xfL22l_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-OQUpEHF-rb4-_color);
  font-size: var(--mixin-OQUpEHF-rb4-_font-size);
  font-weight: var(--mixin-OQUpEHF-rb4-_font-weight);
  letter-spacing: var(--mixin-OQUpEHF-rb4-_letter-spacing);
  line-height: var(--mixin-OQUpEHF-rb4-_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-zyPHJPZk3Ceg_color);
  font-size: var(--mixin-zyPHJPZk3Ceg_font-size);
  font-weight: var(--mixin-zyPHJPZk3Ceg_font-weight);
  letter-spacing: var(--mixin-zyPHJPZk3Ceg_letter-spacing);
  line-height: var(--mixin-zyPHJPZk3Ceg_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-O9cAbOj2OE9r_font-family);
  border-radius: var(--mixin-O9cAbOj2OE9r_border-top-left-radius)
    var(--mixin-O9cAbOj2OE9r_border-top-right-radius)
    var(--mixin-O9cAbOj2OE9r_border-bottom-right-radius)
    var(--mixin-O9cAbOj2OE9r_border-bottom-left-radius);
  padding: var(--mixin-O9cAbOj2OE9r_padding-top)
    var(--mixin-O9cAbOj2OE9r_padding-right)
    var(--mixin-O9cAbOj2OE9r_padding-bottom)
    var(--mixin-O9cAbOj2OE9r_padding-left);
  border-top: var(--mixin-O9cAbOj2OE9r_border-top-width)
    var(--mixin-O9cAbOj2OE9r_border-top-style)
    var(--mixin-O9cAbOj2OE9r_border-top-color);
  border-right: var(--mixin-O9cAbOj2OE9r_border-right-width)
    var(--mixin-O9cAbOj2OE9r_border-right-style)
    var(--mixin-O9cAbOj2OE9r_border-right-color);
  border-bottom: var(--mixin-O9cAbOj2OE9r_border-bottom-width)
    var(--mixin-O9cAbOj2OE9r_border-bottom-style)
    var(--mixin-O9cAbOj2OE9r_border-bottom-color);
  border-left: var(--mixin-O9cAbOj2OE9r_border-left-width)
    var(--mixin-O9cAbOj2OE9r_border-left-style)
    var(--mixin-O9cAbOj2OE9r_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-MUa_IoBSg3vUh_color);
  padding-left: var(--mixin-MUa_IoBSg3vUh_padding-left);
  border-left: var(--mixin-MUa_IoBSg3vUh_border-left-width)
    var(--mixin-MUa_IoBSg3vUh_border-left-style)
    var(--mixin-MUa_IoBSg3vUh_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-nVOaZNvON8VzT_font-family);
  border-radius: var(--mixin-nVOaZNvON8VzT_border-top-left-radius)
    var(--mixin-nVOaZNvON8VzT_border-top-right-radius)
    var(--mixin-nVOaZNvON8VzT_border-bottom-right-radius)
    var(--mixin-nVOaZNvON8VzT_border-bottom-left-radius);
  padding: var(--mixin-nVOaZNvON8VzT_padding-top)
    var(--mixin-nVOaZNvON8VzT_padding-right)
    var(--mixin-nVOaZNvON8VzT_padding-bottom)
    var(--mixin-nVOaZNvON8VzT_padding-left);
  border-top: var(--mixin-nVOaZNvON8VzT_border-top-width)
    var(--mixin-nVOaZNvON8VzT_border-top-style)
    var(--mixin-nVOaZNvON8VzT_border-top-color);
  border-right: var(--mixin-nVOaZNvON8VzT_border-right-width)
    var(--mixin-nVOaZNvON8VzT_border-right-style)
    var(--mixin-nVOaZNvON8VzT_border-right-color);
  border-bottom: var(--mixin-nVOaZNvON8VzT_border-bottom-width)
    var(--mixin-nVOaZNvON8VzT_border-bottom-style)
    var(--mixin-nVOaZNvON8VzT_border-bottom-color);
  border-left: var(--mixin-nVOaZNvON8VzT_border-left-width)
    var(--mixin-nVOaZNvON8VzT_border-left-style)
    var(--mixin-nVOaZNvON8VzT_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-snZqew6XCTxYR_display);
  flex-direction: var(--mixin-snZqew6XCTxYR_flex-direction);
  align-items: var(--mixin-snZqew6XCTxYR_align-items);
  justify-content: var(--mixin-snZqew6XCTxYR_justify-content);
  list-style-position: var(--mixin-snZqew6XCTxYR_list-style-position);
  padding-left: var(--mixin-snZqew6XCTxYR_padding-left);
  position: var(--mixin-snZqew6XCTxYR_position);
  list-style-type: var(--mixin-snZqew6XCTxYR_list-style-type);
  flex-column-gap: var(--mixin-snZqew6XCTxYR_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-4xn9eiGLMILwK_display);
  flex-direction: var(--mixin-4xn9eiGLMILwK_flex-direction);
  align-items: var(--mixin-4xn9eiGLMILwK_align-items);
  justify-content: var(--mixin-4xn9eiGLMILwK_justify-content);
  list-style-position: var(--mixin-4xn9eiGLMILwK_list-style-position);
  padding-left: var(--mixin-4xn9eiGLMILwK_padding-left);
  position: var(--mixin-4xn9eiGLMILwK_position);
  list-style-type: var(--mixin-4xn9eiGLMILwK_list-style-type);
  flex-column-gap: var(--mixin-4xn9eiGLMILwK_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-bI1BQyQa6IHsA_color);
  font-size: var(--mixin-bI1BQyQa6IHsA_font-size);
  font-weight: var(--mixin-bI1BQyQa6IHsA_font-weight);
  letter-spacing: var(--mixin-bI1BQyQa6IHsA_letter-spacing);
  line-height: var(--mixin-bI1BQyQa6IHsA_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-qjK7q2NZGxi3E_color);
  font-size: var(--mixin-qjK7q2NZGxi3E_font-size);
  font-weight: var(--mixin-qjK7q2NZGxi3E_font-weight);
  line-height: var(--mixin-qjK7q2NZGxi3E_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-Dd6Rco8I7b13A_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
